.env
.venv
*.pyc[cod]
__pycache__/
.DS_Store

# Path: .gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ide files
.idea/
.vscode/
.idea/*
.vscode/*

# logs
logs/
*.log

